name: Java CICD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-and-push-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/build.gradle*', '**/settings.gradle*') }}
          restore-keys: |
            gradle-${{ runner.os }}-

      - name: Mask secrets
        run: |
          echo "::add-mask::${{ secrets.YML_LOCAL }}"
          echo "::add-mask::${{ secrets.DOCKER_COMPOSE_YML }}"
          echo "::add-mask::${{ secrets.DOCKERHUB_PASSWORD }}"
          echo "::add-mask::${{ secrets.EC2_SSH_KEY }}"

      - name: Write application-local.yml safely
        run: |
          mkdir -p ./src/main/resources
          printf "%s" "${{ secrets.YML_LOCAL }}" > ./src/main/resources/application-local.yml

      - name: Build with Gradle (without test)
        uses: gradle/gradle-build-action@v1
        with:
          arguments: clean build -x test

      - name: Docker image build
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mjk_agent:latest .  

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Docker Hub push
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/mjk_agent:latest

  deploy-to-ec2:
    needs: build-and-push-docker-image
    runs-on: ubuntu-latest
    steps:
      - name: SSH and deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            mkdir -p ~/docker/mjk_agent
            printf "%s" "${{ secrets.DOCKER_COMPOSE_YML }}" > ~/docker/mjk_agent/docker-compose.yml
            sudo docker network create my-network || true
            cd ~/docker/mjk_agent
            sudo docker-compose down --rmi all -v --remove-orphans
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/mjk_agent:latest
            sudo docker-compose up -d --build --force-recreate --remove-orphans

